<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello!
{% if user %}
    {{ user.user_name }}
    <br/>
    your port is: {{ user.port }}
    <br/>
    your expired date is: {{ user.expired_date }}
    <br/>
{% endif %}
the encrypt method is chacha20
<br/>
This 梯子 is based on ShadowSocks， additional config is needed on client.
<br/>
Please checkout <a href="https://ttt.tt/150/">this blog</a> to config your client.
<br/>
<a href="{% url 'ACUser:downloadSS' 'win10' %}">Windows ShadowSocks client.</a>
<br/>
<a href="{% url 'ACUser:renew' 60 %}">view ad</a>
<br/>
<a href="{% url 'ACUser:stopAll' %}">stop all</a>


{% load staticfiles %}
<img src="{% static 'ACUser/alipay.jpg' %}">
</body>
</html>