<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello
{% if user %}
    {{ user.user_name }}
    <br/>
    your port is: {{ user.port }}
    <br/>
    your expired date is: {{ user.expired_date }}
{% endif %}
<br/>
本梯子用ShadowSocks搭建，需要在您的电脑上作一定的配制。
<br/>
windows配制方法：
<br/>
1. <a href="{% url 'ACUser:downloadSS' 'win10' %}">下载ShadowSocks。</a>
<br/>
linux配制方法：
<br/>
1. <a href="{% url 'ACUser:downloadSS' 'linux' %}">下载ShadowSocks。</a>
<br/>
<br/>
<a href="{% url 'ACUser:renew' 60 %}">view ad</a>
</body>
</html>